/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */
:root {
  /* Color */
  --primary: hsl(160deg, 100%, 30%);
  --secondary-ligther: hsl(45deg, 100%, 50%);
  --secondary-darker: hsl(45deg, 100%, 40%);
  --grays-black: hsl(0deg, 0%, 0%);
  --grays-very-dark: hsl(0deg, 0%, 10%);
  --grays-dark: hsl(0deg, 0%, 30%);
  --grays-medium: hsl(0deg, 0%, 40%);
  --grays-light: hsl(0deg, 0%, 60%);
  --grays-white: hsl(0deg, 0%, 100%);
}

p {
  font-size: 1.25rem;
  color: var(--grays-black);
}

strong {
  color: var(--primary);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Header */
header {
  border-bottom: 8px solid var(--grays-dark);
}

.max-width-wrapper {
  width: 100%;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 96px 16px;
}

.intro-chunk h1 {
  padding-block: 16px;
}

.intro-chunk p {
  margin-top: 16px;
  max-width: 393px;
  width: fit-content;
}

/* Main */

main {
  background-color: var(--grays-light);
  padding: 96px 0;
}

.card {
  background-color: var(--grays-white);
  padding: 8px 16px;
  border-bottom: 8px solid var(--grays-dark);
}

.indented-heading {
  background-color: var(--secondary-ligther);
  padding: 16px 0;
  padding-inline: 32px;
  margin-left: -32px;
  width: fit-content;
  border-bottom: 8px solid var(--secondary-darker);
}

.card p {
  margin-top: 32px;
}
